<div class="message #{@message.id}">
  <div class="grey"><p class="white"><%= message.content %></p></div>
  <small class="colgrey txtshift"><strong><%= message.user.nickname %></strong>
  <i><%= message.created_at.strftime("le %d/%m/%Y à %H:%M:%S") %></i></small>
</div>
