<div class="messagePro #{@message.id}">
  <div class="blue"><p class="white"><%= message.content %></p></div><br>
  <small class="colgrey txtshiftsmall"><strong><%= message.user.nickname %></strong>
  <i><%= message.created_at.strftime("le %d/%m/%Y à %H:%M:%S") %></i></small>
</div>
