.card-body {
  max-height: 600px; /* Définissez la hauteur maximale souhaitée ici */
  overflow: hidden; /* Cela masquera le contenu supplémentaire qui dépasse la hauteur maximale */
}

.text-maxheight {
  max-height: 100px;
  overflow: hidden;
  margin-bottom: 16px;
}
