<p>Titre de l'application</p>
<div>
  <div class="button-nav">
      <%= link_to "Accueil", root_path, class: "btn btn-see" %>
  </div>
  <div class="button-nav">
      <%= link_to "Mes projets", projects_path, class: "btn btn-see" %>
  </div>
      <%= link_to "Paramètres", edit_user_registration_path, class: "btn btn-see" %>
  <div class="button-nav">
  </div>
  <div class="button-nav">
      <%= link_to "Déconnexion", destroy_user_session_path, data: {turbo_method: :delete}, class: "btn btn-see" %>
  </div>

</div>
