<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%#<link rel="stylesheet" href="/config/frappe-gantt.scss"> %>
<%#<script src="../../app/javascript/frappe-gantt.min.js"></script>%>
