<div class="card-group">
  <% @documents.each do |doc| %>
    <% if doc.type_of_document == "photo" %>
      <div class="onephoto">
        <div class="photo" style="position: relative;">
          <%= link_to(cl_image_tag(doc.cloudinary_id, { width: 175, height: 216 }), doc.url, target: "_blank") %>
          <%= link_to(document_path(doc.id), class: 'btn btn-ghost', data: {turbo_method: :delete, turbo_confirm: "Do you really want to remove this document ?"}) do %>
            <i class="fa-solid fa-trash-can trash-icon"></i>
          <% end %>
          <i class="fa-solid fa-tag"></i>
        </div>
        <a href=<%= doc.url %> target="_blank" class="doclink"><%= doc.name %></a>
      </div>
    <% end %>
  <% end %>
</div>
