.main-btn, .main-btn-rounded {
  background-color: #000000;
  border: solid 1.5px #000000;
  color: #fff;
  text-decoration: none;
  text-align: center;
  padding: 10px 25px 10px 25px;
  font-size: 14px;
  font-weight: 500;
  display: inline-flex;
  &:hover {
    background-color: #00000000;
    border-color: #000000;
    color: rgb(0, 0, 0);
  }
}

.main-btn, .main-btn-rounded {
  transition: background-color 0.3s, color 0.3s;
}

.main-btn {
  border-radius: 6px;
}

.main-btn-rounded {
  border-radius: 50px;
}

.main-btn-banner {
  background-color: #000000;
  border: solid 1.5px #000000;
  border-radius: 6px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  padding: 10px 25px;
  font-size: 14px;
  font-weight: 500;
}

.main-btn-banner:hover {
  background-color: #000000a8;
  border-color: #000000;
  color: #fff;
}

#btn-margin {
  margin-top: 25px;
}
