@font-face {
  font-family: 'Brotherline';
  src: url('/app/assets/stylesheets/config/Brotherline.woff2') format('woff2');
}

h2, h3, h4, a, p {
  font-family: 'Inter', sans-serif;
  color: black;
}

h1 {
  font-family: 'Inter', sans-serif;
  font-size: 50px;
  font-weight: 600;
  color: black;
}

.h2-heading {
  font-size: 50px;
  font-weight: 700;
}

h2 {
  font-size: 30px;
  font-weight: 700;
}

h3 {
  font-size: 24px;
  font-weight: 700;
}

h4 {
  font-size: 18px;
  font-weight: 500;
}

p {
  font-size: 14px;
  font-weight: 400;
}

.h2-white, .h3-white, .p-white {
  color: #fff;
}

.h2-white {
  font-size: 40px;
  margin-bottom: 35px;
}

.h2-black {
  font-size: 30px;
  color: black;
  margin-top: 40px;
  margin-bottom: 0;
  align-items: center;
  font-weight: 600;
}

.h3-white-logo {
font-family: 'Brotherline';
font-size: 40px;
color: #fff;
}

.p-white-head {
  color: #fff;
  font-size: 16px;
  line-height: 2;
  margin: 0 auto;
  text-shadow: 1px 1px 15px rgba(0, 0, 0, 0.5);
}


.link-white {
  color: #fff;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.logo-white {
  color: #fff;
  font-family: 'Brotherline', sans-serif;
  font-size: 70px;
  font-weight: 600;
  margin-top: 50px;
}

.h3-white-footer {
  margin-bottom: 30px;
  color: #fff;
}
.p-white-footer {
  margin-top: 50px;
  font-weight: 300;
  font-size: 12px;
  margin-bottom: 0px;
  text-align: center;
  color: white;
}

#emailInput-home {
  width: 400px;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 14px;
  margin-bottom: 0;
  border: 0px;
}

#emailInput-home::placeholder {
  color: #999;
}
